*~
*.elc
python/python-mode
projectile.cache
projectile-bookmarks.eld
bookmarks
ac-comphist.dat
tramp
elpa
eshell
image-dired
magit
abbrev_defs
ahg
python/python-mode
yasnippet
abbrev_defs
.projectile
auto-save-list
elpa
helm
cedet
ecb
Pymacs-master
