[submodule "use-package"]
	path = lib/use-package/
	url = https://github.com/jwiegley/use-package.git
[submodule "lib/ace-jump-mode"]
	path = lib/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "lib/use-package"]
	path = lib/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "lib/emacs-goodies-el"]
	path = lib/emacs-goodies-el
	url = https://github.com/linuxnotes/emacsgoodies.git
