[submodule "use-package"]
	path = lib/use-package/
	url = https://github.com/jwiegley/use-package.git
[submodule "lib/ace-jump-mode"]
	path = lib/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "lib/use-package"]
	path = lib/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "lib/emacs-goodies-el"]
	path = lib/emacs-goodies-el
	url = https://github.com/linuxnotes/emacsgoodies.git
[submodule "evil"]
	path = evil
	url = https://github.com/emacs-evil/evil.git
[submodule "lib/emacs-chat"]
	path = lib/emacs-chat
	url = https://github.com/h1t/emacs-chat.git
[submodule "lib/evil"]
	path = lib/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "lib/lua-mode"]
	path = lib/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "lib/emacs-python-environment"]
	path = lib/emacs-python-environment
	url = https://github.com/tkf/emacs-python-environment.git
[submodule "lib/emacs-ctable"]
	path = lib/emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable.git
[submodule "lib/emacs-deferred"]
	path = lib/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "lib/emacs-epc"]
	path = lib/emacs-epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule "lib/emacs-jedi"]
	path = lib/emacs-jedi
	url = https://github.com/tkf/emacs-jedi.git
[submodule "lib/direx-el"]
	path = lib/direx-el
	url = https://github.com/m2ym/direx-el.git
[submodule "lib/emacs-jedi-direx"]
	path = lib/emacs-jedi-direx
	url = https://github.com/tkf/emacs-jedi-direx.git
[submodule "lib/json-mode"]
	path = lib/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule "lib/json-snatcher"]
	path = lib/json-snatcher
	url = https://github.com/Sterlingg/json-snatcher.git
[submodule "lib/json-reformat"]
	path = lib/json-reformat
	url = https://github.com/gongo/json-reformat.git
